@font-face {
  font-family: Stark;
  src: url("/assets/avengers2.ttf") format("truetype");
}

body {
  background-image: url("/assets/blueprint.jpg");
  background-repeat: repeat;
  background-size: 101%;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.box {
  flex: 1 1 0;
  text-align: center;
}

canvas {
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  width: 150px;
  margin: auto;
}

.grid-button {
  padding: 5px;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
}

.grid-image {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

h1 {
  font-family: Stark;
  text-align: center;
  font-size: 50px;
  color: rgb(184, 15, 15);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  letter-spacing: 2px;
  margin-top: 4.5vw;
}

.Mute {
  font-size: 27.5px;
  border-radius: 50%;
  line-height: 1;
  background: transparent;
  border: none;
  position: absolute;
  top: 0.25vw;
  right: 1.75vw;
  cursor: pointer;
}

.Reset {
  font-size: 20px;
  border-radius: 50%;
  line-height: 1;
  background: white;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0.25vw;
  left: 2.3vw;
  cursor: pointer;
}

#Ehre {
  margin-top: 70%;
  margin-left: 70%;
}
